<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find and follow ArcGIS Experts</title>
    <meta name="description" content="This is a curated list of experts in ArcGIS Technology we have found them at: Github, Youtube, GeoNet, StackExchange and Stackoverflow">

    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if IE]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <![endif]-->

    <meta property="og:type" content="article"/>
	<meta property="og:title" content="Find and follow ArcGIS Experts"/>
	<meta property="og:description" content="This is a curated list of experts in ArcGIS Technology we have found them at: Github, Youtube, GeoNet, StackExchange and Stackoverflow."/>
	<meta property="og:image" content="https://esri-es.github.io/arcgis-experts/assets/imgs/arcgis-experts-tool.png"/>
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="655" />

    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.0.0-rc.8/css/calcite-web.min.css">
    <link rel="stylesheet" href="./assets/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/libs/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="./assets/libs/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="./assets/libs/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css">
    <script src="./assets/libs/calcite-web.js"></script>
    <link rel="stylesheet" href="./assets/css/main.css">

    <script>
        window.onload = function () {calcite.init();};
    </script>

</head>

<body>
    <div class="grid-container">
        <div class="column-24">
            <!-- desktop sized navigation -->
            <div class="tablet-hide">
                <!-- logo / home -->
                <a href="#" class="top-nav-title">Find and follow ArcGIS Experts</a>
                <!-- primary navigation sections -->
                <nav class="top-nav-list" role="navigation" aria-labelledby="topnav">
                </nav>
                <!-- user specific dropdowns -->
                <nav class="class-top-nav-list right" role="navigation" aria-labelledby="usernav">

                    <a class="top-nav-link margin-left-1" href="https://github.com/esri-es/arcgis-experts/blob/master/README.md">About this page</a>
                    <!--<a class="top-nav-link margin-left-1" href="esri-spain.html">Esri Spain Experts</a>-->
                    <a class="btn btn-clear margin-left-1 leader-half" href="https://github.com/esri-es/arcgis-experts/blob/master/CONTRIBUTING.md">Contribute</a>
                </nav>
            </div>

            <!-- tablet and mobile sized navigation -->
            <div class="tablet-show top-nav-flex">

                <header class="top-nav-flex-title">
                    <a href="#" class="top-nav-link"><span class="phone-hide">Find and follow</span> ArcGIS Experts</a>
                </header>
                <nav class="class-top-nav-list right phone-show" role="navigation" aria-labelledby="usernav">
                    <a class="top-nav-link icon-ui-question margin-left-1" href="https://github.com/esri-es/arcgis-experts/blob/master/README.md#what-is-this-about" aria-label="Sign In"><span class="phone-hide"></span></a>

                </nav>
            </div>
        </div>
    </div>
    <header class="sub-nav" role="banner">
        <div class="grid-container">

            <div class="ui-front leader-1">
                <div class="column-6">
                    <label for="tags" class="text-white text-center tablet-hide" style="padding-top: 5px;">I'm looking for an expert in: </label>
                </div>
                <div class="column-18 ">
                    <div class="input-group">
                        <input class="input-group-input" id="tags">
                        <span class="input-group-button btn-disabled" id="clearBtn">
                            <button class="btn">Clear</button>
                        </span>
                    </div>

                    <div class="small phone-hide trailer-1">
                        E.g:
                        <span class="clickable">User Experience</span>,
                        <span class="clickable">JavaScript</span>,
                        <span class="clickable">Storymaps</span>,
                        <span class="clickable">Web Map</span>,
                        <span class="clickable">Android</span>,
                        <span class="clickable">Drone2Map</span>,
                        <span class="clickable">Web AppBuilder</span>,
                        <span class="clickable">Esri Leaflet</span>,
                        <span class="js-modal-toggle" href="#" data-modal="modalTechnologies">view all</span>
                    </div>
                    <div class="small text-center phone-show trailer-half">
                        <span class="js-modal-toggle" href="#" data-modal="modalTechnologies">View all topics</span>
                    </div>
                </div>
            </div>
        </div>
        <p id="techs" class="trailer-1"></p>
    </header>

<div class="grid-container">
    <div class="alert alert-yellow modifier-class is-active leader-1 text-center" style="display:none">
      Learn more about <span class="selected-techs"></span> in the Awesome list of resources
    </div>

    <div class="block-group block-group-6-up tablet-block-group-3-up phone-block-group-2-up leader-1" id="expert-list">
    </div>
</div>


<!--
************************************************************
                    MISSING EXPERT
************************************************************
-->
<script id="expertCard" type="text/x-jsrender">
<div class="card block trailer-1" id="{{slugify:name}}" data-background="{{lower:technologies}}">
    <figure
        class="card-image-wrap showModalProfile"
        data-userslug="{{slugify:name}}"
        data-userIndex="{{:#index}}"
    >
        {{if geodev || advocate}}
            <mark class="tag label font-size--3">
            {{if geodev}}
                <span class="tooltip" aria-label="He/she can write code">#geodev</span>
            {{/if}}

            {{if geodev && advocate}} & {{/if}}

            {{if advocate}}
                <span class="tooltip" aria-label="His/her job is to make developers lifes easier">#advocate</span>
            {{/if}}
            </mark>
        {{/if}}

        {{if picture}}
            <img class="card-image" src="{{:picture}}" alt="{{:name}}">
        {{else}}
            <img class="card-image" src="./assets/imgs/no_avatar.jpg" alt="{{:name}}">
        {{/if}}

        <figcaption class="card-image-caption text-center" title="{{:name}}">
            {{firstname:name}}
            <span class="phone-hide">{{lastname:name}}</span>
        </figcaption>
    </figure>

    <div class="card-content text-center">
        <p class="font-size--1 card-last">

            {{if github}}
                <a href="{{:github}}" target="blank" class="tooltip social" aria-label="Github">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            {{/if}}

            {{if stackexchange}}
                <a href="{{:stackexchange}}" target="blank" class="tooltip social" aria-label="StackExchange">
                    <i class="fa fa-stack-exchange" aria-hidden="true"></i>
                </a>
            {{/if}}

            {{if stackoverflow}}
                <a href="{{:stackoverflow}}" target="blank" class="tooltip social" aria-label="StackOverflow">
                    <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                </a>
            {{/if}}

            {{if linkedin}}
                <a href="{{:linkedin}}" target="blank" class="tooltip social" aria-label="Linkedin">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            {{/if}}

            {{if twitter}}
                <a href="{{:twitter}}" target="blank" class="tooltip social" aria-label="Twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            {{/if}}

            {{if geonet}}
                <a href="{{:geonet}}" target="blank" class="tooltip social" aria-label="GeoNet">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                </a>
            {{/if}}

            {{if youtube}}
                <a href="{{:youtube}}" target="blank" class="tooltip social" aria-label="Youtube channel">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
            {{/if}}

            {{if blog}}
                <a href="{{:blog}}" target="blank" class="tooltip social" aria-label="Blog">
                    <i class="fa fa-rss" aria-hidden="true"></i>
                </a>
            {{/if}}

            {{if arcgisonline}}
                <a href="{{:arcgisonline}}" target="blank" class="tooltip social" aria-label="ArcGIS Online">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </a>
            {{/if}}

            <span class="tooltip" aria-label="Full user profile">
                <i
                    class="showModalProfile fa fa-question-circle"
                    data-userslug="{{slugify:name}}"
                    data-userIndex="{{:#index}}"
                ></i>
            </span>
        </p>

    </div>
</div>

</script>


<!--
************************************************************
                    MISSING EXPERT
************************************************************
-->
<script id="missingExpert" type="text/x-jsrender">
<div class="card block trailer-1" data-background="missing">
    <figure class="card-image-wrap">

        <img class="card-image" src="./assets/imgs/contributors-wanted.png" alt="{{:name}}">

        <figcaption class="card-image-caption text-center">
            Miss someone?
        </figcaption>
    </figure>

    <div class="card-content text-center">
        <p class="font-size--1 card-last">
            <a
                id="missingExpertLink"
                target="_blank"
                class="btn btn-fill ellipsis"
                href="https://github.com/esri-es/arcgis-experts/issues/new">
                <span class="tablet-hide">Suggest expert</span>
                <span class="tablet-show">Suggest</span>
            </a>
        </p>

    </div>
</div>
</script>

<script id="techsTmpl" type="text/x-jsrender">
    <li class="clickable">{{>#data}}</li>
</script>

<div class="js-modal modal-overlay modifier-class" data-modal="modalTechnologies">
    <div class="modal-content column-12" role="dialog" aria-labelledby="modal">

        <a class="js-modal-toggle right" href="#" aria-label="close-modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewbox="0 0 32 32" class="svg-icon"><path d="M18.404 16l9.9 9.9-2.404 2.404-9.9-9.9-9.9 9.9L3.696 25.9l9.9-9.9-9.9-9.898L6.1 3.698l9.9 9.899 9.9-9.9 2.404 2.406-9.9 9.898z"/></svg>
        </a>

        <h3 class="trailer-half">Topics listing</h3>
        <ul id="all-techs"></ul>

        <div class="text-right">
            <button class="btn js-modal-toggle">Done</button>
        </div>
    </div>
</div>

<div class="js-modal modal-overlay modifier-class" data-modal="modalProfile">
    <div class="modal-content column-12" role="dialog" aria-labelledby="modal">

        <a class="js-modal-toggle right" href="#" aria-label="close-modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewbox="0 0 32 32" class="svg-icon"><path d="M18.404 16l9.9 9.9-2.404 2.404-9.9-9.9-9.9 9.9L3.696 25.9l9.9-9.9-9.9-9.898L6.1 3.698l9.9 9.899 9.9-9.9 2.404 2.406-9.9 9.898z"/></svg>
        </a>

        <h3 class="trailer-half" id="expertName"></h3>
        <div class="expertPicture phone-show text-center"></div>
        <div class="clearfix">
            <div class="col-left">
                <p id="expertSkills"></p>
                <p class="trailer-0">
                    <strong>
                        Social profiles:
                    </strong>
                </p>
                <p id="expertSocialLinks" class="trailer-0"></p>
            </div>
            <div class="col-right phone-hide">

                <div class="expertPicture"></div>
            </div>
        </div>

        <div class="text-center block leader-half">
            <p id="expertDisclaimer" class="text-center trailer-half very-small"></p>

            <button class="btn js-modal-toggle">Done</button>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="./assets/libs/jsrender.min.js"></script>

<script src="./assets/libs/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="./assets/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49620025-14"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-49620025-14');
</script>

<span class="js-modal-toggle" data-modal="modalProfile" style="display:none">&nbsp;</span>
</body>
</html>
